In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Monisha.txt",header=None,error_bad_lines=False,encoding='utf8')

C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\582130758.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("Monisha.txt",header=None,error_bad_lines=False,encoding='utf8')

In [3]:
df

,0,1,2,3
0,12/18/22,8:34â€¯PM - Messages and calls are end-to-end e...,not even WhatsApp,can read or listen to them. Tap to learn more.
1,1/4/23,12:55â€¯PM - Monisha ramisha: Good afternoon fr...,NaN,NaN
2,Kindly fill this form ðŸ‘‡,NaN,NaN,NaN
3,https://forms.gle/tptLoeePPreovxFo8,NaN,NaN,NaN
4,1/11/23,5:46â€¯PM - ðŸ’–: Sis...,NaN,NaN
...,...,...,...,...
311,10/3/23,11:13â€¯AM - Monisha ramisha: Vijai R (Official...,NaN,NaN
312,10/3/23,11:13â€¯AM - Monisha ramisha: <Media omitted>,NaN,NaN
313,10/3/23,11:13â€¯AM - Monisha ramisha: <Media omitted>,NaN,NaN
314,10/3/23,11:14â€¯AM - Monisha ramisha: <Media omitted>,NaN,NaN
315,10/3/23,11:25â€¯AM - ðŸ’–: Mm k sis...,NaN,NaN

In [4]:
#delete the 1st row 
df=df.drop(0)

In [5]:
df.columns=['Date','Time','Chat','Website']

In [6]:
df

,Date,Time,Chat,Website
1,1/4/23,12:55â€¯PM - Monisha ramisha: Good afternoon fr...,NaN,NaN
2,Kindly fill this form ðŸ‘‡,NaN,NaN,NaN
3,https://forms.gle/tptLoeePPreovxFo8,NaN,NaN,NaN
4,1/11/23,5:46â€¯PM - ðŸ’–: Sis...,NaN,NaN
5,1/17/23,11:01â€¯AM - Monisha ramisha: https://www.datas...,NaN,NaN
...,...,...,...,...
311,10/3/23,11:13â€¯AM - Monisha ramisha: Vijai R (Official...,NaN,NaN
312,10/3/23,11:13â€¯AM - Monisha ramisha: <Media omitted>,NaN,NaN
313,10/3/23,11:13â€¯AM - Monisha ramisha: <Media omitted>,NaN,NaN
314,10/3/23,11:14â€¯AM - Monisha ramisha: <Media omitted>,NaN,NaN
315,10/3/23,11:25â€¯AM - ðŸ’–: Mm k sis...,NaN,NaN

In [7]:
Message=df["Time"].str.split("-",n=1,expand=True)
Message1=Message[1].str.split(":",n=1,expand=True)

In [8]:
df["Time"]=Message[0]
df["Name"]=Message1[0]
df["Chat"]=Message1[1]

In [9]:
df=df[["Date","Time","Name","Chat"]]

In [10]:
df

,Date,Time,Name,Chat
1,1/4/23,12:55â€¯PM,Monisha ramisha,Good afternoon from HOPE AI ðŸ˜Š
2,Kindly fill this form ðŸ‘‡,NaN,NaN,NaN
3,https://forms.gle/tptLoeePPreovxFo8,NaN,NaN,NaN
4,1/11/23,5:46â€¯PM,ðŸ’–,Sis...
5,1/17/23,11:01â€¯AM,Monisha ramisha,https://www.datascienceportfol.io/
...,...,...,...,...
311,10/3/23,11:13â€¯AM,Monisha ramisha,Vijai R (Official).vcf (file attached)
312,10/3/23,11:13â€¯AM,Monisha ramisha,<Media omitted>
313,10/3/23,11:13â€¯AM,Monisha ramisha,<Media omitted>
314,10/3/23,11:14â€¯AM,Monisha ramisha,<Media omitted>
315,10/3/23,11:25â€¯AM,ðŸ’–,Mm k sis...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 1 to 315
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    315 non-null    object
 1   Time    302 non-null    object
 2   Name    300 non-null    object
 3   Chat    300 non-null    object
dtypes: object(4)
memory usage: 10.0+ KB

In [17]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in d:\suganthi\anaconda\lib\site-packages (3.7)
Requirement already satisfied: tqdm in d:\suganthi\anaconda\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in d:\suganthi\anaconda\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in d:\suganthi\anaconda\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: click in d:\suganthi\anaconda\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in d:\suganthi\anaconda\lib\site-packages (from click->nltk) (0.4.5)

In [18]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [19]:
df.dropna(inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [20]:
sid = SentimentIntensityAnalyzer()

In [22]:
senti=sid.polarity_scores(df['Chat'][4])

In [23]:
senti

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [24]:
 def sentimentalAnalysis(data,columnname):
        
        #downloading vader_lexicon for the process
        import matplotlib.pyplot as plt
        import seaborn as sns
        "Importing Necessary Packeage"
        from nltk.sentiment.vader import SentimentIntensityAnalyzer
        sid = SentimentIntensityAnalyzer()
        
        "Deleting null pr empty value"
        data.dropna(inplace=True)
        
        "Checking for a comment"
        #sid.polarity_scores(data[columnname][93])
        
        "Creating respective columns"
        
        data['scores'] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
        data['compound']  = data['scores'].apply(lambda score_dict: score_dict['compound'])
        data['Negtive']  = data['scores'].apply(lambda score_dict: score_dict['neg'])
        data['Postive']  = data['scores'].apply(lambda score_dict: score_dict['pos'])
        data['Neutral']  = data['scores'].apply(lambda score_dict: score_dict['neu'])
        
        "Creating final pos or neg using compound score"
        data['comp_score'] = data['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')
        plt.clf()
        #comp=sns.countplot(x = 'comp_score', hue = 'Name', data = data, palette = 'magma')
        #comp.figure.savefig("date_charts.png")
        "Checking how many pos and neg"
        posneg=pd.DataFrame(data['comp_score'].value_counts())
        return posneg,data

In [25]:
pos,data_Senti=sentimentalAnalysis(df,columnname='Chat')

C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\910911046.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\910911046.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['scores'] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\910911046.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['compound']  = data['scores'].apply(lambda score_dict: score_dict['compound'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\910911046.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Negtive']  = data['scores'].apply(lambda score_dict: score_dict['neg'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\910911046.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Postive']  = data['scores'].apply(lambda score_dict: score_dict['pos'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\910911046.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Neutral']  = data['scores'].apply(lambda score_dict: score_dict['neu'])
C:\Users\Admin\AppData\Local\Temp\ipykernel_11004\910911046.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['comp_score'] = data['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [26]:
data_Senti

,Date,Time,Name,Chat,scores,compound,Negtive,Postive,Neutral,comp_score
1,1/4/23,12:55â€¯PM,Monisha ramisha,Good afternoon from HOPE AI ðŸ˜Š,"{'neg': 0.0, 'neu': 0.315, 'pos': 0.685, 'comp...",0.7603,0.0,0.685,0.315,pos
4,1/11/23,5:46â€¯PM,ðŸ’–,Sis...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
5,1/17/23,11:01â€¯AM,Monisha ramisha,https://www.datascienceportfol.io/,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
6,1/21/23,4:35â€¯PM,Monisha ramisha,Mam,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
8,1/21/23,4:35â€¯PM,Monisha ramisha,Send your GitHub link,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
...,...,...,...,...,...,...,...,...,...,...
311,10/3/23,11:13â€¯AM,Monisha ramisha,Vijai R (Official).vcf (file attached),"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
312,10/3/23,11:13â€¯AM,Monisha ramisha,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
313,10/3/23,11:13â€¯AM,Monisha ramisha,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
314,10/3/23,11:14â€¯AM,Monisha ramisha,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
315,10/3/23,11:25â€¯AM,ðŸ’–,Mm k sis...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos

In [27]:
pos

     comp_score
pos         294
neg           6